:root {
    font-size: 10px;
    --black1: #000000;
    --black2: #001F3D;
    --black3: #333333;
    --brown: #A04955;
    --white: #FFFFFF;
    --grey: #F1F1F1;
    --font-Open-Sans: 'Open Sans', sans-serif;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

header {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.text-big {
    font-size: 6.5rem;
    line-height: 96px;
    font-weight: 700;
    color: var(--black2);
}

.text-small {
    font-size: 2.4rem;
    line-height: 33px;
    font-family: var(--font-Open-Sans);
    font-weight: 300;
    color: var(--black1);
}

.text-small a {
    font-size: 2.4rem;
    line-height: 33px;
    font-family: var(--font-Open-Sans);
    font-weight: 300;
    color: var(--black1);
}

.text-button {
    width: 216px;
    height: 33px;
    border: 1px solid var(--black1);
    text-align: center;
    padding-top: 3px;
    margin-top: 20px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-b-400 {
    margin-bottom: 400px;
}

.button-width {
    width: 350px;
}

.text-color {
    color: var(--white);
}

.grow {
    flex-grow: 1;
}

.logo {
    float: left;
}

.nav {
    float: right;
    list-style: none;
}

.nav-item {
    float: left;
    margin: 0 15px;
}

.nav-item a {
    font-size: 2rem;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.banner {
    display: flex;
}

.banner-info {
    justify-content: space-between;
    width: 45%;
    margin-top: 100px;
}

.banner-img {
    margin: 50px 0 0 50px;
}

.banner-img img {
    width: 600px;
}

.collection {
    background-color: var(--grey);
}

.collection-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    color: var(--black3);
    padding: 50px 0 40px 0;
}

.collection-txt>div:first-child {
    font-size: 3.6rem;
    line-height: 53px;
}

.collection-txt>div:last-child {
    font-size: 6.4rem;
    line-height: 95px;
}

.collection-img {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.collection-img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: var(--white);
    padding-top: 20px;
    margin-bottom: 40px;
}

.item-photo img {
    width: 170px;
}

.item-txt-big {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: var(--black3);
    width: 170px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

.item-txt-small {
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 27px;
    color: var(--black3);
}

.item-link {
    background-color: var(--brown);
    margin: 30px 0;
}

.item-link a {
    font-size: 1.8rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 5px;
}

.best {
    display: flex;
    justify-content: space-between;
}

.best-img {
    width: 40%;
}

.best-img img {
    width: 660px;
}

.best-txt {
    width: 40%;
    margin-top: 50px;
}

.promo {
    background-color: var(--grey);
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    margin: 0;
}

.promo-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-container>div:nth-last-child(2) {
    text-align: center;
    margin: 20px 0;
}

.promo-img {
    position: relative;
}

.promo-img img {
    width: 100%;
}

.promo-img div {
    width: 100%;
    background-color: var(--brown);
    height: 70px;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 53px;
    color: var(--white);
    display: flex;
    justify-content: center;
}

.shop {
    position: relative;
    margin: 0;
}

.shop-img {
    width: 100%;
}

.shop-txt {
    position: absolute;
    left: 10%;
    top: 10px;
    display: flex;
    flex-direction: column;
    width: 550px;
}

.shop-btn {
    width: 364px;
    height: 33px;
    background-color: var(--brown);
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.shop-btn a {
    font-size: 2.4rem;
    line-height: 33px;
    font-family: var(--font-Open-Sans);
    font-weight: 300;
    color: var(--white);
}

.trend-container {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: var(--brown);
}

.trend-container>div:first-child {
    position: absolute;
    top: 20px;
    left: 160px;
}

.trend-boxes {
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 5%;
}

.trend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 28%;
    border: 1px solid #A04955;
}

.trend-item>div:first-child {
    height: 215px;
}

.trend-item img {
    width: 190px;
}

.trend-item>div:nth-child(2) {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: var(--black3);
}

.trend-item>div:nth-child(3) {
    width: 200px;
    height: 25px;
    background-color: var(--brown);
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.trend-item>div:nth-child(3) a {
    font-family: var(--font-Open-Sans);
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 25px;
    color: var(--white);
    padding: 3px 0;
}

.legacy-container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.legacy-txt {
    display: inline-block;
    text-align: center;
}

.legacy-img {
    position: absolute;
    top: -45%;
    left: 35%;
}

.footer-container {
    height: 350px;
    background-color: var(--brown);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-item {
    width: 20%;
}

.footer-item ul {
    list-style: none;
}

.footer-item>ul>li:first-child {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 180.8%;
}

.footer-item>ul a {
    color: var(--white);
    font-size: 1.8rem;
    line-height: 180.8%;
}

.copy {
    height: 30px;
    background-color: var(--white);
    border: 1px solid var(--grey);
    font-size: 1.5rem;
    font-weight: 200;
    padding: 5px 40px;
}
.arrow-btn{
    width: 83px;
    height: 83px;
    background: #A04955;
    border: 3px solid #FFFFFF;
    border-radius: 83px/83px;
    position: fixed;
    bottom: 350px;
    right: 30px;
}